<aside class="left-sidebar" data-sidebarbg="skin5">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav" class="p-t-30">

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-receipt"></i><span class="hide-menu">员工管理 </span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{:url('index/add')}" class="sidebar-link"><i class="mdi mdi-note-outline"></i><span class="hide-menu">添加员工</span></a></li>
                                <li class="sidebar-item"><a href="{:url('index/lst')}" class="sidebar-link"><i class="mdi mdi-note-plus"></i><span class="hide-menu">管理员工</span></a></li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">排班管理</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{:url('ban/add')}" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">添加排班</span></a></li>
                                <li class="sidebar-item"><a href="{:url('ban/lst')}" class="sidebar-link"><i class="mdi mdi-emoticon-cool"></i><span class="hide-menu">排班管理</span></a></li>
                            </ul>
                        </li>

                        <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-face"></i><span class="hide-menu">系统管理</span></a>
                            <ul aria-expanded="false" class="collapse  first-level">
                                <li class="sidebar-item"><a href="{:url('zhiban/index')}" class="sidebar-link"><i class="mdi mdi-emoticon"></i><span class="hide-menu">值班人数</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>